@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Календарь</h2>

<div id="app">
    <app-calendar></app-calendar>
</div>
@section Scripts{
    <script src="~/js/calendar.bundle.js"></script>
}